#parent-div {
  width:100%;
  height: 100%;
}

#left-panel {
  height: 100%;
  width: 30%;
  float: left;
  background-color: #001724;
  position: fixed;
  overflow: auto;
}

#right-panel {
  margin-left: 30%;
  position: fixed;
  height: 100%;
  width: 70%;
  float:left;
  overflow: auto;
}

.content-block {
 margin: 5%;
 background-color: #001724;
 padding: 2px 16px;
 box-shadow: 0 4px 8px 0 rgba(0,17,24, 0.7);
}

.content-block:hover {
  box-shadow: 0 8px 16px 0 rgba(0,17,24, 0.7);
}

.footer {
  position: fixed;
  left:0;
  bottom:0;
  background-color: gray;
  text-align: center;
}

ul.footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#content {
  background-color: whitesmoke;
  padding: 5%;
  height: 100%;
}

#links {
  background-color: gray;
  margin-top: 5%;
}


#fun-fact-container {
  margin-left: 2.5%;
}

#fun-fact-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: black;
}

.active {
  background-color: goldenrod;
  color: black;
}

.header {
  padding:40px;
  text-align: center;
  background: whitesmoke;
}

ul.topnav {
  background-color:#001724;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

ul.topnav li {
  float: left;
}

h1.header {
  margin-top: 2.5%;
  text-align: center;
  font-size: 500%;
  color: black;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2.5%;
  text-align: center;
  font-size: 450%;
  color: white;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5%;
  font-style: italic;
  font-size: 200%;
  color: white;
}

p {
  font-family: 'Courier New', Courier, monospace;
}

p1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2.5%;
  font-style: normal;
  font-size: 185%;
  color: white;
  justify-content: center;
}

.fun-fact {
  font-style: oblique;
  text-align: center;
}

.button {
  font-size: .5cm;
  background-color: goldenrod;
}

.centered-wrapper {
  text-align: center;
}
body {
  background-color: whitesmoke;
}

.cutout {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(185, 167, 5, 0.7);
}

.cutout img {
  width: 100%;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnails img {
  margin: 2.5%;
  max-width: 300px;
  height: auto;
}

.collapsible {
  background-color: goldenron;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: goldenrod;
}

.project-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
}

.external-links {
  color: plum;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}
