#content {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  background-color: cornflowerblue;
}

#fun-fact-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
    margin-left: 10px;
    text-justify: center;
}

h2 {
    margin-left: 10px;
    font-style: italic;
}

p {
    margin-left:10px;
}

button {
    margin-left: 10px;
}
body {
    background-color: goldenrod;
}
.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blanchedalmond;
    border-width: 2px;
    border-style: dashed;
    border-color: darkblue;
}

.thumbnails img {
    margin: 10px;
    max-width: 300px;
    height: auto;
}

img {
    margin: 10px;
    max-width: 300px;
    height: auto;
}

#links {
    background-color: lightgray;
}

#fun-fact-container {
    margin-left: 10px;
}
